<p-breadcrumb class="max-w-full" [model]="items" [home]="home"></p-breadcrumb>
<!--<div class="route-bar">    <div class="route-bar-breadcrumb">
        
        <i class="pi pi-home"></i>
        <span>/ </span>
        <ng-template ngFor let-item let-last="last" [ngForOf]="items">
            <a [routerLink]="item.routerLink" *ngIf="item.routerLink">{{item.label}}</a>
            <ng-container *ngIf="!item.routerLink">{{item.label}}</ng-container>
            <span *ngIf="!last">/</span>
        </ng-template>
    </div>

    <ul class="route-bar-menu">
        <li>
            <a href="#" pTooltip="Notificações" tooltipPosition="bottom" (click)="appMain.onRightPanelButtonClick($event)">
                <i class="pi pi-globe notify" pBadge severity="danger" style="font-size: 18px" value="{{totNotify}}"></i>
            </a>
        </li>
        <li>
            <a href="#" pTooltip="Ajuda" tooltipPosition="bottom">
                <i class="pi pi-question-circle" ></i>
            </a>
        </li>
    </ul>
</div>
-->