<p-toolbar [style]="{ 'height': '40px', 'padding': '0px', 'border-radius': '.0rem', 'background-image': 'linear-gradient(to left, #5475be, var(--gray-50))' }">
    <ng-template pTemplate="start">    
        <div class="flex align-items-center gap-3" style="color: #5475be">
            <h5 style="margin:10px;">{{title}}</h5>
        </div>
    </ng-template>
    <ng-template pTemplate="center">
        <div class="flex flex-wrap align-items-center gap-3">            
        </div>
    </ng-template>
    <ng-template pTemplate="end">
        <div class="flex align-items-center gap-2">            
            <button class="p-link inline-flex justify-content-center align-items-center text-white h-3rem w-3rem border-circle hover:bg-white-alpha-10 transition-all transition-duration-200" *ngIf="can && can.Create()" (click)="new()" title="Novo"><i class="pi pi-plus-circle text-xl"></i></button>
            <button class="p-link inline-flex justify-content-center align-items-center text-white h-3rem w-3rem border-circle hover:bg-white-alpha-10 transition-all transition-duration-200" *ngIf="can && can.Change()" (click)="editSelectedRow()" title="Editar"><i class="pi pi-pencil text-xl"></i></button>
            
            <button class="p-link inline-flex justify-content-center align-items-center text-white h-3rem w-3rem border-circle hover:bg-white-alpha-10 transition-all transition-duration-200" *ngIf="can && can.Save()" (click)="save($event)" title="Salvar"><i class="pi pi-save text-xl"></i></button>
            <button class="p-link inline-flex justify-content-center align-items-center text-white h-3rem w-3rem border-circle hover:bg-white-alpha-10 transition-all transition-duration-200" *ngIf="can && can.Clean()" (click)="clean()" title="Limpar"><i class="pi pi-file text-xl"></i></button>
            <button class="p-link inline-flex justify-content-center align-items-center text-white h-3rem w-3rem border-circle hover:bg-white-alpha-10 transition-all transition-duration-200" *ngIf="can && can.Delete()" (click)="remove($event)" title="Remover"><i class="pi pi-trash text-xl"></i></button>
            <button class="p-link inline-flex justify-content-center align-items-center text-white h-3rem w-3rem border-circle hover:bg-white-alpha-10 transition-all transition-duration-200" *ngIf="can && can.Back()" (click)="back()" title="Voltar"><i class="pi pi-arrow-circle-left text-xl"></i></button>
        </div>
    </ng-template>
</p-toolbar>