<app-ps-toolbar #toolbar
    [title]="getTitle()"
    (NewClick)="new()"
    (EditSelectedRowClick)="editSelectedRow()"
    (SaveClick)="save($event)"
    (CleanClick)="clean()"
    (RemoveClick)="remove($event)"
    (BackClick)="back()"
    >
</app-ps-toolbar>

<div class="card" [hidden]="mode !== 'list'">
    <p-table #dt       
        [value]="gridRows"        
        [loading]="loading"
        [globalFilterFields]="['Login', 'Name', 'ProfileCode']"        
        [(selection)]="selectedRow"
        dataKey="Login"
    >
        <ng-template pTemplate="caption">
            <div class="grid">
                <div class="col col-12 md:col-2">
                    <button type="button" pButton pRipple icon="pi pi-file" (click)="dt.exportCSV()" class="mr-2" pTooltip="CSV" tooltipPosition="bottom"></button>
                    <button type="button" pButton pRipple icon="pi pi-file-excel" (click)="exportExcel()" class="p-button-success mr-2" pTooltip="XLS" tooltipPosition="bottom"></button>
                    <button type="button" pButton pRipple icon="pi pi-file-pdf" (click)="exportPdf()" class="p-button-warning mr-2" pTooltip="PDF" tooltipPosition="bottom"></button>
                </div>
                <div class="col col-12 md:col-10">
                    <div class="text-center" style="margin-top: 6px;">            
                        <p-inputSwitch [(ngModel)]="onlyActive" (click)="changeActiveFilter(onlyNotActive)" [disabled]="onlyNotActive"></p-inputSwitch><label class="switchActive"  [style]="{ 'color': onlyNotActive ? '#b5b5bc' : '#5d5d69' }">Only Active</label>
                        <p-inputSwitch [(ngModel)]="onlyNotActive"  (click)="changeActiveFilter(onlyActive)" [disabled]="onlyActive" [style]="{ 'margin-left': '15px' }"></p-inputSwitch><label class="switchNotActive" [style]="{ 'color': onlyActive ? '#b5b5bc' : '#5d5d69' }">Only Inactive</label>
                    </div>                    
                </div>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>                
                <th *ngFor="let c of cols" [pSortableColumn]="c.field">{{c.header}} <p-sortIcon [field]="c.field"></p-sortIcon></th>                
            </tr>
            <tr>                
                <th *ngFor="let c of cols">
                    <p-columnFilter type="text" [field]="c.field"></p-columnFilter>
                </th>                
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-row let-i="rowIndex">
            <tr [class]="getRowCssClass(i, row)" [pSelectableRow]="row" (dblclick)="onRowDblClick($event, row)">                
                <td *ngFor="let c of cols">
                    {{ row[c.field] }}
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="paginatorleft"  style="margin-left: 0px;">
            <p-button type="button" icon="pi pi-refresh" (click)="reset(true)" styleClass="p-button-text" title="Reiniciar"></p-button>
        </ng-template>        
    </p-table>
</div>

<div class="card" [hidden]="mode !== 'form'">
    <p-progressBar #progressBarForm mode="indeterminate" [style]="{ height: '6px' }" [hidden]="!showFormLoading"></p-progressBar>
    <form #form="ngForm" (ngSubmit)="onSubmit(form)" novalidate>
        <div class="formgrid grid">
            <div class="field col-12 md:col-6">
                <app-ps-select 
                    #selectAsnt
                    [id]="'SubscriberId'" 
                    [showId]="false"
                    [lazy]="true"
                    [dataService]="SubscriberService" 
                    [optionLabel]="'Name'"
                    [label]="'Subscriber'" 
                    [form]="form" 
                    [required]="true"
                    [disabled]="editing" 
                    [(ngModel)]="model.SubscriberId"
                    [nestedSelects]="[selectProfile]"
                    (SelectLoaded)="selectLoaded(selectAsnt)"
                    name="SubscriberId"></app-ps-select>
            </div>
            <div class="field col-12 md:col-6">
                
            </div>
            <div class="field col-12 md:col-4">
                <app-ps-textbox 
                    [id]="'Login'" 
                    [label]="'Login'" 
                    [form]="form" 
                    [required]="true" 
                    [disabled]="editing" 
                    [maxlength]="30"                    
                    [(ngModel)]="model.Login" 
                    name="Login">
                </app-ps-textbox>
            </div>
            <div class="field col-12 md:col-8">
                <app-ps-textbox 
                    [id]="'Name'" 
                    [label]="'Name'" 
                    [form]="form" 
                    [required]="true"
                    [disabled]="editing && !can.Save()" 
                    [maxlength]="50"                    
                    [(ngModel)]="model.Name" 
                    name="Name">
                </app-ps-textbox>
            </div>
            <div class="field col-12 md:col-2">
                <app-ps-textbox 
                    [id]="'Phone'" 
                    [label]="'Phone'" 
                    [form]="form" 
                    [disabled]="editing && !can.Save()"                     
                    [maxlength]="20"                    
                    [(ngModel)]="model.Phone" 
                    name="Phone">
                </app-ps-textbox>
            </div>
            <div class="field col-12 md:col-4">
                <app-ps-textbox 
                    [id]="'Email'" 
                    [label]="'Email'" 
                    [form]="form" 
                    [disabled]="editing && !can.Save()" 
                    [maxlength]="100"                    
                    [(ngModel)]="model.Email" 
                    name="Email">
                </app-ps-textbox>
            </div>
            <div class="field col-12 md:col-6">
                <app-ps-select 
                    #selectProfile                    
                    [id]="'ProfileCode'" 
                    [showId]="false"
                    [lazy]="true"
                    [dataService]="ProfileService" 
                    [optionLabel]="'Description'"
                    [label]="'Profile'" 
                    [form]="form" 
                    [required]="true" 
                    [disabled]="editing && !can.Save()" 
                    [(ngModel)]="model.ProfileCode"
                    (SelectLoaded)="selectLoaded(selectProfile)"
                    name="ProfileCode"></app-ps-select>
            </div>
            <div class="field col-12">
                <app-ps-active [(ngModel)]="model.Active" name="Active" [form]="form" [disabled]="editing && !can.Save()"></app-ps-active>
            </div>            
        </div>
    </form>    
</div>